{% extends 'base.html.twig' %}



{% block body %}
 <div class="container">
        <br>
        <br>
         <p>   {{message}} </p>
        {# <p> {{echo message }}</p> #}
    

    <form action="{{ path('master') }}" method="post">

        <input type="text" name="message" placeholder="message">
        <select name="classNames" id="classNames">
            <option value="Capital">Capital</option>
            <option value="Change">SpacesDashes</option>
        </select>
        <button class="btn btn-primary" type="submit">Log message</button>
    </form>
    </div>
{% endblock %}
